{% extends "base_generic.html" %}

{% block headers %}
    <style>
            td {
                border-style: dotted;
                border: 1;
            }
    </style>
{% endblock %}

{% block content %}
        <table cellspacing="10px">
            <tr>
                {% if sensors %}
                    {% for s in sensors %}
                        <td>
                            <p><a href="{% url 'detail' s.file_system_location %}">{{ s.description_text.title }}</a></p>
                            <h1>
                                {% if s.reading_type == "Temp" %}
                                    {% if s.reading_units %}
                                        {{ s.reading_set.latest }}*{{ s.reading_units }}
                                    {% else %}
                                        {{ s.reading_set.latest }}*F
                                    {% endif %}
                                {% else %}
                                    {{ s.reading_set.latest }}
                                {% endif %}
                            </h1>
                        </td>
                    {% endfor %}
                {% else %}
                    <p>No Sensors Found</p>
                {% endif %}
                    <td>
                        <a href="{% url 'create' %}"><button type="button">Add New</button> </a>
                    </td>
                </tr>
            </table>
{% endblock %}