{% extends "base_generic.html" %}

{% block headers %}
    <style>
            td {
                border-style: dotted;
                border: 1;
            }
    </style>
{% endblock %}

{% block content %}
        {% if sensors %}
            <table cellspacing="10px">
                <tr>
                    {% for s in sensors %}
                        <td>
                            <p><a href="{% url 'detail' s.file_system_location %}">{{ s.description_text }}</a></p>
                            <h1>
                                {% if s.reading_type == "temp" %}
                                    {{ s.reading_set.latest }}*F
                                {% else %}
                                    {{ s.reading_set.latest }}
                                {% endif %}
                            </h1>
                        </td>
                    {% endfor %}
                    <td>
                        <a href="{% url 'create' %}"><button type="button">Add New</button> </a>
                    </td>
                </tr>
            </table>
        {% else %}
            <p>No Sensors Found</p>
        {% endif %}
{% endblock %}